DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

FIREBASE_CREDENTIALS_PATH=firebase-service-account.json
FIREBASE_CREDENTIALS_JSON=
FIREBASE_DATABASE_URL=https://your-project-id-default-rtdb.firebaseio.com
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com
FIREBASE_SYNC_ENABLED=True
FIREBASE_AUTH_ENABLED=False
FIREBASE_STORAGE_ENABLED=False
