DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
PYTHONIOENCODING=utf-8
LANG=tr_TR.UTF-8
LC_ALL=tr_TR.UTF-8
PUBLIC_SITE_URL=http://127.0.0.1:8000

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_USE_SSL=0
EMAIL_HOST_USER=you@example.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=Lezzet Duraklari <you@example.com>

FIREBASE_CREDENTIALS_PATH=firebase-service-account.json
FIREBASE_CREDENTIALS_JSON=
FIREBASE_DATABASE_URL=https://your-project-id-default-rtdb.firebaseio.com
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com
FIREBASE_WEB_API_KEY=your-firebase-web-api-key
FIREBASE_SYNC_ENABLED=True
FIREBASE_AUTH_ENABLED=False
FIREBASE_STORAGE_ENABLED=False
